#dato0{
    color: blueviolet;
    font-size: 40px;
}

.pato{
    font-family: Times New Roman;
    text-align-last: right;
    background-color: burlywood;
}

div{
    height:200px;
    width: 200px;
}